@import '../../../assets/styles/variables.scss';
:host {
  width: 100%;
}
textarea {
  border: none;
  min-width: 100%;
  border-radius: 15px;
  $bg-color: lighten($color-background-primary, 40);
  background: rgba($bg-color, 50%);
  padding: 1rem;
  resize: none;
  &::placeholder {
    color: lighten($color: $color-background-primary, $amount: 40);
  }
  &:focus {
    outline: none;
  }
}
