@import '../../../../assets/styles/variables.scss';
:host {
  width: 100%;
}
textarea {
  border: none;
  min-width: 100%;
  border-radius: 5px;

  padding: 1rem;
  resize: none;
  color: darken($color-background-primary, $amount: 50);
  &::placeholder {
    color: lighten($color: $color-background-primary, $amount: 1);
  }
  &:focus {
    outline: none;
  }
}
