@import '../../../assets/styles/variables.scss';

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-width: 2px;
  border-color: $color-background-primary;
  border-radius: 15px;
}
