@import '../../assets/styles/variables.scss';

.page-container {
  $start: $color-gradient-start;
  $end: $color-gradient-end;

  background: $color-background-primary;
  background: -webkit-linear-gradient(-135deg, $start, $end);
  background: -o-linear-gradient(-135deg, $start, $end);
  background: -moz-linear-gradient(-135deg, $start, $end);
  background: linear-gradient(-135deg, $start, $end);
  height: 100vh;
  width: 100vw;
}
