@import '../../../assets/styles/variables.scss';

.page-container {
  height: 100vh;
  width: 100vw;
  padding: 0.2rem;

  .title {
    text-align: center;
    line-height: 2.2;
  }
}

.alert-danger {
  background-color: rgba($color: $color-background-primary, $alpha: 0.2);
}
