@import '../../../../assets/styles/variables.scss';

label {
  display: block;
  margin: 0.5rem 0 0 0;
}

.label {
  font-family: Montserrat-SemiBold;
  font-size: 1.3rem;
  color: $color-black;
  line-height: 1.6;
}

.input {
  margin-bottom: 0.5rem;
  outline: none;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 5px;

  font-family: Poppins-Regular;
  color: $color-black;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  background: transparent;
  height: 3rem;
  padding: 0 0.4rem;
}

// phone and up
@media (min-width: 200px) {
  .input {
    min-width: 40vw;
  }
}
//tablet and up
@media (min-width: 768px) {
  .input {
    min-width: 40vw;
  }
}
// desktop and up
@media (min-width: 992px) {
  .input {
    min-width: 35vw;
  }
}
// desktop and up
@media (min-width: 1000px) {
  .input {
    min-width: 25vw;
  }
}
